Package: minecraftctl
Version: 1.2.0
Section: admin
Priority: extra
Essential: no
Source: minecraftctl
Architecture: amd64
Depends: screen,vim,aria2,tar,zip,unzip
Suggests: whiptail|dialog,curl,wget
Installed-Size: 512
Maintainer: MemoryShadow[memoryshadow@outlook.com]
Homepage: https://github.com/MemoryShadow/minecraftctl
Description: Minecraft Server control script
